.root {
    -fx-background-color: #caa472;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-min-height: 700px;
    -fx-min-width: 1000px;
}

.error-field {
    -fx-fill: red;
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.anchor-pane {
    -fx-min-height: 600px;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-max-height: 600px;
}

.can-move-label {
    -fx-border-width: 10px;

}

#black-box {
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-border-color: limegreen;
    -fx-min-width: 68px;
    -fx-min-height: 68px;
    -fx-background-color: #242424;
}

#white-box {
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-border-color: limegreen;
    -fx-min-width: 68px;
    -fx-min-height: 68px;
    -fx-background-color: #c7c7c7;
}

#label-box {
    -fx-border-width: 0px;
    -fx-font-size: 20px;
    -fx-alignment: center;
}

#label-place {
    -fx-background-color: #caa472;
}
