.root {
    -fx-background-image: url("../Images/main-menu-background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-min-height: 700px;
    -fx-min-width: 1000px;
}

.grid-pane {
    -fx-max-height: 200px;
    -fx-max-width: 200px;
}

.blue-button {
    -fx-border-radius: 0%;
    -fx-border-color: #00ffff;
    -fx-background-color: aqua;
    -fx-progress-color: #d1ff3f;
    -fx-animated: true;
    -fx-min-width: 100;
    -fx-min-height: 20;
}

.blue-button:hover {
    -fx-background-color: #afe5e0;
}

.blue-button:pressed {
    -fx-background-color: #afe5e0;
    -fx-translate-y: 4px;
}

.text-field {
    -fx-border-radius: 0;
    -fx-min-width: 333;
    -fx-min-height: 100%;
}

.normal-text-field {
    -fx-font-size: 18px;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}

.label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.message-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
